<div class="page-header">
  <h1>{{ec.group.name}}
    <small>
      <span data-ng-show="{{ec.chapterId}}"><span data-ng-repeat="id in ec.chaptersMap[entry.chapterKey.id].ids" class="item"><a href="#/{{ec.group.id}}/entries/chapter/{{id}}">{{ec.chaptersMap[id].name}}</a></span></span>
      <span data-ng-show="{{ec.month}}">{{ec.month}}/{{ec.year}}</span>
      <span data-ng-show="{{!ec.month&&ec.year}}">{{ec.year}}</span>
    </small>
  </h1>
</div>

<table class="table table-striped table-hover table-condensed entries-table">
  <colgroup>
    <col style="width: 1cm"/>
    <col style="width: 2cm"/>
    <col style="width: 4cm"/>
    <col style="width: 5cm"/>
    <col style="width: 6cm"/>
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Amount</th>
      <th>Chapter and payee</th>
      <th>People</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="entry in ec.entries|orderBy:'date':true">
      <td class="controls">
      </td>
      <td class="date">
        {{entry.date|date:mc.dateFormats.short}}
      </td>
      <td class="amount-currency">
        <span data-fa-amount data-amount="entry.amount"></span>
      </td>
      <td>
        <div class="chapters">
          <span data-ng-repeat="id in ec.chaptersMap[entry.chapterKey.id].ids" class="item"><a href="#/{{ec.group.id}}/entries/chapter/{{id}}">{{ec.chaptersMap[id].name}}</a></span>
        </div>
        <div>{{entry.payee}}</div>
      </td>
      <td>
        <div data-ng-repeat="type in ['by', 'for']" class="entry-users">
          <span class="inline-label">{{type}}:</span>
          <span
            data-ng-repeat="entryUser in entry[type+'Shares']|filter:nonZeroEntryUsers"
            class="item"><span>{{entryUser[0].id}}</span><span
              class="entry-user-value"> {{entryUser[1]|number:2}}</span></span>
        </div>
      </td>
      <td>
        <div class="description">
          {{entry.description}}
        </div>
        <div>
          <span data-ng-repeat="tag in entry.tags|orderBy:'+'" class="badge">{{tag}}</span>
          <span class="notes">{{entry.notes}}</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>