<h1>Entries</h1>

{{ec.entries.length}} entries found

<table class="table table-striped table-hover table-condensed entries-table">
  <colgroup>
    <col style="width: 1cm"/>
    <col style="width: 2cm"/>
    <col style="width: 4cm"/>
    <col style="width: 5cm"/>
    <col style="width: 6cm"/>
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Amount</th>
      <th>Chapter and payee</th>
      <th>People</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="entry in ec.entries|orderBy:'date':true">
      <td class="controls">
      </td>
      <td class="date">
        {{entry.date|date:dateFormats.short}}
      </td>
      <td class="amount-currency">
        {{currencies[entry.currency].symbol}}
        <span class="amount">{{entry.amount.value}}</span>
      </td>
      <td>
        <div>{{entry.payee}}</div>
      </td>
      <td>
        by, for
      </td>
      <td>
        <div class="description">
          {{entry.description}}
        </div>
      </td>
    </tr>
  </tbody>
</table>